@use '../abstract/mixins' as *;

.why-fiber {
  --gap: 1.5rem;
  @include gap(grid, var(--gap));

  @include mq(md) {
    --gap: 2rem;
  }

  &__title {
    p {
      color: var(--color-primary);
      font-weight: 600;
    }

    @include mq(md) {
      h2 {
        width: 30ch;
      }
    }
  }

  &__qualities {
    @include gap(grid, 1rem);

    @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
