@mixin headings($fs, $fw, $lh, $color) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  color: $color;
}

@mixin flex($align: flex-start, $justify: flex-start, $direction: row) {
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin gap($display, $gap) {
  display: $display;
  grid-gap: $gap;
}

@mixin mq($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}
