*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background: var(--very-light-gray);
  min-height: 100vh;
  padding: 3rem 1.5rem;
  color: var(--transparent-white);
  display: grid;
  place-items: center;
}

.container {
  @include mq(md) {
    display: flex;
    max-width: 57.5rem;
    margin: 0 auto;
  }
}

h1 {
  @include headings(var(--text-headings), 700, 1, var(--very-light-gray));
  text-transform: uppercase;
  font-family: var(--font-headings);
}

p {
  @include headings(var(--text-body), 400, 1.5rem, var(--transparent-white));
}

.card {
  --border-radius: 0.5rem;
  @include gap(grid, 1.5rem);
  padding: 3rem;

  &:first-child {
    --b-radius: var(--border-radius) var(--border-radius) 0 0;
    border-radius: var(--b-radius);

    @include mq(md) {
      --b-radius: var(--border-radius) 0 0 var(--border-radius);
    }
  }

  &:last-child {
    --b-radius: 0 0 var(--border-radius) var(--border-radius);
    border-radius: var(--b-radius);

    @include mq(md) {
      --b-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
  }

  &--orange {
    background: var(--bright-orange);
  }

  &--cyan {
    background: var(--dark-cyan);
  }

  &--dark-cyan {
    background: var(--very-dark-cyan);
  }

  &__btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    min-height: 2.75rem;
    min-width: 20ch;
    width: min-content;
    border-radius: 50px;
    font-family: var(--font-body);
    background: var(--very-light-gray);
    transition: background 200ms ease-in-out;

    &:hover {
      background: transparent;
      color: var(--very-light-gray);
      border: 1.5px solid var(--very-light-gray);
    }

    &--orange {
      color: var(--bright-orange);
    }

    &--cyan {
      color: var(--dark-cyan);
    }

    &--dark-cyan {
      color: var(--very-dark-cyan);
    }
  }
}
